@import "global-style";
@import "animations";

.navbar {
  height: 75px;
  width: 100%;
  background-color: white;
  @include flex(space-between, flex-start);

  //// !!!!!!!! ////
  z-index: 1;
  position: fixed;
  //// !!!!!!!! ////

  .nav-logo {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 15%;

    a {
      svg {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .nav-main {
    height: 100%;
    width: 70%;
    @include flex(flex-start, center);

    .nav-items {
      height: 100%;
      width: 100%;
      @include flex(space-evenly, center);
      @include reset-list();

      .nav-item {
        height: 100%;

        a {
          height: 100%;
          color: black;
          text-decoration: none;
          font-family: "Product Sans";
          @include flex(center, center);
        }
      }

      .nav-item:hover {
        font-weight: bolder;

        -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
        animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
  }

  .nav-auth {
    width: 30%;
    @include flex(flex-end, center);
  }
}
