html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  background: black;
  color: white;
}

.icon-wrap {
  height: 40px;
  width: 40px;
  padding: .350rem .6rem;
}

.profile-wrap {
  height: 500px;
  padding: 80px;
  align-items: center;
  border: 3px solid #8a0146;
}

.profile-wrap:hover {
  box-shadow: 0 0 5px 7px #99004C;
}

.icon-wrap:hover path {
  fill: white;
}

.home-text {
  text-align: left;
  margin: 10px 0;
}

.text-custom {
  color: #99004C;
}

.btn-outline-primary {
  color: #99004C;
  border-color: #8a0146;
}
.btn-outline-primary:hover {
  background-color: #99004C;
  border-color: #8a0146;
  box-shadow: 0 0 5px 2px #99004C;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 5px 2px #99004C;
}